
    <table class="table table-sm table-bordered table-striped">

        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Seat Capacity</th>
                <th>Instructor Name</th>
            </tr>
        </thead>

        <tbody>

            <tr *ngFor="let item of getCourses()">
                
                <td style="vertical-align:middle">{{item.id}}</td>
                <td style="vertical-align:middle">{{item.title}}</td>
                <td style="vertical-align:middle">{{item.seatCapacity}}</td>
                <td style="vertical-align:middle">{{item.instructorName}}</td>   
                <td class="text-center">
                    <button class="btn btn-danger btn-sm" (click)="deleteCourse(item.id)">Delete</button>

                    <button class="btn btn-info btn-sm"
                    [routerLink]="['/form', 'edit', item.id]"
                    >Edit</button>
                </td>
                                
            </tr>

        </tbody>

    

    </table>

    <button class="btn btn-primary m-1"
    [routerLink]="['/form/create']">
    Create New Course
    </button>




